<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
</head>
<h1>About Me:</h1>
<img src="..\assets\me_small2.png" alt="Me" width="180" height="183" />

<h6>
  <br />
  <h4>Hi there!</h4>
  <br />
  <p>
    My name's Michelle and I've had about 3 days of exposure to Typescript and
    the Angular framework. <br />Please be kind...I'm a first-time bootcamper!
  </p>
  <br />

  <p>Things I enjoy when I'm not doing this particular Angular assignment:</p>
  <ul class="list-group">
    <li class="list-group-item">
      Studying Java, Studying Javascript, Studying Statistics
    </li>
    <li class="list-group-item">
      Working on updating
      <a
        href="https://mdilzell.wixsite.com/artwork/illustrations"
        target="_blank"
      >
        my gallery
      </a>
      outside of Wix.
    </li>
    <li class="list-group-item">
      Listening to
      <a href="https://www.youtube.com/watch?v=SEdINOqCAwM" target="_blank">
        Electro-Swing</a
      >
      and
      <a
        href="https://www.youtube.com/watch?v=djV11Xbc914&list=RDQM2mX9wAA-lg0&start_radio=1"
        target="_blank"
      >
        horrendous 80's pop.</a
      >
    </li>
    <li class="list-group-item">
      Playing Candy-Land with my 5 year old (and pretending I don't notice when
      she cheats.)
    </li>
    <li class="list-group-item">
      Modifying and writing lua scripts for addons in World of Warcraft
    </li>
  </ul>
</h6>
