<p>
  This page is meant to demonstrate some examples of animation controls imported
  from Angular's Browser Animations module. The majority of this code was
  created following the tutorials supplied at Angular.io
</p>
<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
</head>
<app-open-close></app-open-close>
