
 .header {
  background-image: url('flower_thin.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

body {

   /*--- gradient background ---*/


    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(98,189,182,1) 96%, rgba(0,176,180,1) 100%) fixed;  
    /* the 'fixed' attribute in the line above makes this full screen */ 

   /*---------------------------*/

  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
  }

  h1 {
    color: #4f1e00;

  }
 
  /*--- navigation bar ---*/
  
  .navbar {
    background: rgba(0, 0, 0, 0.4); /* this 0.2 here denotes 20% opacity of the bar */
  }
  
  .nav-link,
  .navbar-brand {
    color: white;
    cursor: pointer;
  }
  
  .nav-link {
    margin-right: 1em !important;
  }
  
  .nav-link:hover {
    color: #000;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }
 
/* --- Overlay ----- */
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

/*---- Landing Page Deets ----*/
.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.description h1 {
  color: #6ab446;
}

.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}
