<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
</head>
<p>You successfully navigated to "thepersoncomp" Component!</p>
<p>
  This page is both an exercise in <b>interpolation</b> and
  <b>mimicking a delay</b>.
</p>
<P> The value below was defined in the data.services.ts file</P>
<p><em>In a few seconds it will update...</em></p>
<br />

<p>{{ myperson.firstName }} {{ myperson.lastName }} {{ myperson.Age }}</p>
<br />
<p>Did you miss it? Refresh the page.</p>
